.center-text {
  text-align: center;
}

.mb-8 {
  margin-bottom: 8rem;
}
.mb-2 {
  margin-bottom: 2rem;
}
.mb-4 {
  margin-bottom: 4rem;
}

.mt-8 {
  margin-top: 9rem;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}
